*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --black: #202124;
  --white: #fff;
  --lightgray: #dfe1e5;
  --gray: #70757a;
  --darkgray: #3c4043;
  --blue: #1a73e8;
  --darkblue: #1558d6;
}

body {
  margin: 0;
  color: var(--black);
  background: var(--gray);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

body,
h1 {
  font-family: arial, sans-serif;
  font-size: 14px;
}

.invisible {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  z-index: -1000;
  -webkit-user-select: none;
}

.container {
  color: var(--black);
  background: var(--white);
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  max-width: 500px;
  min-height: 90vh;
}

.bold {
  font-weight: bold;
}

.main-header {
  width: 100%;
  background-color: inherit;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger {
  padding: 18px;
}

.user-avatar {
  padding: 12px;
}

.user-avatar img {
  border-radius: 50%;
  display: block;
  height: 32px;
  width: 32px;
}

.logo {
  width: 92px;
}

.search {
  margin: 0 8px 0 8px;
}

.search-form {
  display: flex;
  align-items: center;
  background-color: inherit;
}

.search-input {
  border: 1px solid var(--lightgray);
  border-radius: 15px;
  display: flex;
  align-items: center;
  height: 39px;
  width: 100%;
}

.search-input input {
  border: none;
  flex: 1;
  width: 100%;
  padding-left: 15px;
  line-height: 25px;
  font-size: 16px;
  color: var(--black);
}

.iconBtn {
  background-color: transparent;
  border: none;
  display: flex;
  cursor: pointer;
}

.icon {
  fill: var(--gray);
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  background-color: transparent;
}

.icon svg {
  height: 100%;
  width: 100%;
  display: block;
}

.search-icon {
  margin: 0 8px;
}

.clear-icon {
  margin: 0 10px;
}

.dropdown-icon {
  position: absolute;
  left: 13px;
}

.search-section .menu {
  display: flex;
}

.link-bar {
  padding-bottom: 10px;
}

.search-categories {
  display: flex;
  height: 40px;
  line-height: 27px;
  color: var(--gray);
  background-color: var(--white);
  text-transform: uppercase;
  border-bottom: 2px solid var(--lightgray);
  padding-left: 11px;
  box-shadow: 0px 7px 6px -5px #dfe1e5;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
}

.search-categories::-webkit-scrollbar {
  width: 0;
  display: none;
}

.search-categories .category {
  margin-top: 8px;
  padding: 0 16px;
  text-decoration: none;
  color: var(--gray);
}

.search-categories .category.selected {
  color: var(--blue);
  border-bottom: 2px solid var(--blue);
}

.main {
  flex-grow: 1;
  background-color: var(--white);
}

.result-card {
  display: block;
  border: 1px solid var(--lightgray);
  background-color: var(--white);
  border-radius: 5px;
  margin: 10px;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}

.result-card > a {
  padding: 10px;
  display: block;
  text-decoration: none;
  position: relative;
  margin-bottom: -16px;
}

.result-source-link {
  color: var(--black);
  font-size: 12px;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.result-source-link .page-title {
  color: var(--gray);
}

.result-source-link img {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}

.result-title {
  color: var(--darkblue);
  font-family: Roboto, HelveticaNeue, Arial, sans-serif !important;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-transform: none;
}

.result-date {
  color: var(--gray);
}

.result-abstract {
  font-family: Roboto, HelveticaNeue, Arial, sans-serif !important;
  color: var(--black);
  padding: 12px 16px;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
}

.related-searches {
  margin: 10px;
}

.related-searches > h3 {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #202124;
  padding: 16px 0;
}

.related-search-terms > a {
  display: block;
  padding: 16px 10px;
  width: 100%;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  border-top: 1px solid var(--lightgray);
  text-decoration: none;
  color: var(--black);
}

.see-more-results {
  margin: 16px;
  padding: 10px;
  line-height: 24px;
  height: 44px;
  position: relative;
  border: 1px solid var(--lightgray);
  border-radius: 20px;
  text-align: center;
}

.see-more-results > a {
  text-decoration: none;
  color: var(--black);
}

.undecorated-heading {
  font-size: inherit;
  font-family: inherit;
  padding: 0;
  margin: 0;
}

.main-footer {
  padding-top: 40px;
  padding-bottom: 28px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  font-size: 14px;
  color: var(--gray);
  background-color: var(--lightgray);
}

.main-footer .country {
  font-size: 16px;
  line-height: 35px;
}

.main-footer .location {
  line-height: 20px;
}

.location .location-icon {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--gray);
  margin-right: 5px;
}

.location .bold {
  color: var(--darkgray);
}

.footer-links {
  margin-top: 10px;
  line-height: 35px;
}

.footer-links > ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 200px;
  margin: 0 auto;
}

.footer-links li {
  padding-left: 10px;
}

.footer-links a {
  text-decoration: none;
  color: var(--gray);
}

.footer-links a:hover,
.footer-links a:active {
  color: var(--darkgray);
}

.footer-links a:visited {
  color: inherit;
}
